/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');

@import url('./badges.css');
@import url('./back-link.css');

.gallery {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    overflow: hidden;   
}

.gallery-item:hover {
    transform: scale(1.03)
}

.gallery-link {
    display: block;
    height: 100%;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
 width: 360px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
}

.feedback-input {
  font-family: "Montserrat", sans-serif;
  width: 300px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    padding: 0 16px;
}

.feedback-input:hover {

}

.feedback-textarea {
  font-family: "Montserrat", sans-serif;
  border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 300px;
    height: 70px;
    padding: 8px 16px;
    resize: none;
    /* background-color: transparent;
    outline: transparent; */
}

.feedback-btn {
  border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background: #4e75ff;
border: none;
color: #ffffff;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
margin-top: 8px;
}

.feedback-btn:hover {
  background: #6c8cff;
}